/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    color: #fff;
}

.background{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('empi.jpg') no-repeat center center/cover;
    filter: grayscale(100%);
    z-index: -1;

}

/* Overlay */
.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header */
.logo {
    position: absolute; /* Permite posicionamento específico */
    top: 20px; /* Distância do topo */
    left: 20px; /* Distância da lateral esquerda */
    z-index: 10; /* Certifica-se de que a imagem ficará acima de outros elementos */
}

.logo img {
    width: 280px; /* Ajusta o tamanho da imagem, caso necessário */
    height: auto; /* Mantém a proporção da imagem */
}


.login-box {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5rem;
    border-radius: 0px;
    width: 320px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    display: flex; /* Flexbox para centralizar os itens */
    flex-direction: column;
    justify-content: left;
    align-items: center;
}


.login-box h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    position: absolute; /* Permite o posicionamento absoluto dentro da caixa */
    top: 0.7rem; /* Coloca o título no topo */
    left: 10px; /* Distância do título da lateral esquerda */
    margin: 20px; /* Remove qualquer margem */
}

.login-box input {
    width: calc(100% + 8rem); /* Adiciona largura extra proporcional */
    background-color: #232323;
    color: #414141;
    padding: 0.5rem;
    margin: 0.6rem -4rem; /* Negativa a margem para expandir para os lados */
    border: 2px solid #414141; /* Borda de 2px */
    border-radius: 0px;
    font-size: 1rem;
    display: block;
    box-sizing: border-box;
}


.login-button{
    width: calc(100% + 8rem);
    padding: 0.5rem;
    background-color: #F58232;
    border: none;
    border-radius: 0px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.6rem -5rem;
    margin-top: 0.5rem;
}

.codigo-button{
    width: calc(100% + 8rem);
    padding: 0.5rem;
    background-color: rgba(59, 59, 59, 0.65);
    border: none;
    border-radius: 0px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.6rem -5rem;
    margin-top: 0.1rem;

}


.divider {
    margin: 0.5rem 0;
    color: #414137;
    font-size: 0.9rem;
}


.forgot-password {
    color: #fff;
    font-size: 1rem;
    display: block;
    margin: 0.5rem 0;
    text-decoration: none;
}

.access-code:hover,
.forgot-password:hover {
    text-decoration: underline;
}

.options {
    text-align: left; /* Alinha o conteúdo à esquerda */
    width: 100%; /* Garante que ocupe a largura total */
}


.signup {
    margin-top: 1rem;
    color: #414141;
    font-size: 0.9rem;
    text-align: center; /* Garante que o texto e o link fiquem à esquerda */
    width: 100%;
}

.signup a {
    color: #aaa;
    font-weight: bold;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 1.0);
    color: #aaa;
    text-align: left; /* Alinhamento central */
    padding: 2rem 2rem; /* Espaçamento superior e inferior maior */
    font-size: 0.8rem;
}

.footer-links {
    display: flex;
    justify-content: left; /* Centraliza os links */
    flex-wrap: wrap; /* Permite que os links quebrem para a próxima linha se necessário */
    gap: 1rem; /* Espaço entre os links */
    margin-bottom: 1rem; /* Espaçamento inferior */
    margin-top: 1rem;
}

.footer-links a {
    color: #414141; /* Mantém o mesmo tom de cinza */
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.language {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #fff;
}
